%fieldset
  .field
    = local_variable.label :title, "Anniversary"
    %br/
    = local_variable.text_field :title
  .field
    = local_variable.label :start, "Date and time"
    = local_variable.datetime_select :start
  .field
    = local_variable.label :title, "Spouse's Birthday"
    %br/
    = local_variable.text_field :title
  .field
    = local_variable.label :start, "Date and time"
    = local_variable.datetime_select :start
  .field
    = local_variable.label :title, "Create your own!"
    %br/
    = local_variable.text_field :title
  .field
    = local_variable.label :start, "Date and time"
    = local_variable.datetime_select :start