<!-- Left Sidebar -->
        <section id="left-sidebar">

          <div class="logo">
            <a href="#intro" class="link-scroll"><img src="/assets/other_images/smolder_logo.png" alt="Smolder"></a>
          </div><!-- .logo -->

          <!-- Smolder Menu -->
          <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

          <ul id="main-menu">

            <li id="menu-item-Suggestions" class="menu-item scroll"><a href="#Suggestions">Suggestions</a></li>
            <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">History</a></li>
            <li id="menu-item-Profile" class="menu-item scroll"><a href="#Profile">Profile</a></li>
            <li id="menu-item-Calendar" class="menu-item scroll"><a href="#Calendar">Calendar</a></li>
            <li class="menu-item scroll"> <%= user_login_links %></li>
          </ul>

        </section><!-- #left-sidebar -->
        <!-- end: Left Sidebar -->

        <section id="main-content" class="clearfix">
          <article id="Suggestions" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg5.jpg">
            <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
              <div class="col-sm-10 col-md-9 pull-right">
                <section class="feature-text">
                  <h1 class="section-title">Pick 1!</h1>
                  <p> <%= Event.next_event.first.title %></p>

                </section>

                <!-- feature columns -->
                <section class="feature-columns row clearfix">

                  <!-- feature 1 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-6');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-3.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>Schedule a hike!</h5>
                      </div><!-- .caption -->
                      <div class = "caption"> 
                            <center><%= link_to 'Do it', 'javascript:void(0);', some_random_path: events_path, event_title: Event.next_event.first.title, class: "create_event btn btn-primary btn-md" %></center>
                      </div>
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-6">
                      <h1>Nantahala National Forest</h1>
                      <p>Nantahala has so much to explore!<br/></p>

                      <!-- image slider inside popup -->
                      <div id="unique-id-for-image-slider" class="owl-carousel popup-image-gallery">
                        <!-- slide -->
                        <div>
                          <!-- caption is optional. To remove it, remove the <h6> below -->
                          <h6 class="caption">View the scenery</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg1.jpg">
                        </div>
                        <!-- slide -->
                        <div>
                          <h6 class="caption">Paddle the lakes and rivers</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg2.jpg">
                        </div>
                        <!-- slide -->
                        <div>
                          <h6 class="caption">Get your boots muddy</h6>
                          <img class="lazyOwl" data-src="/assets/other_images/bg3.jpg">
                        </div>
                      </div>
                    </div><!-- #modal-content-6 -->

                    <!-- Smolder Suggestions -->

                  </article>

                  <!-- feature 2 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-7');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-2.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>Send a note!</h5>
                      </div><!-- .caption -->
                      <div class = "caption"> 
                            <center><%= link_to 'Do it', 'javascript:void(0);', class: "create_event", some_random_path: events_path, event_title: Event.next_event.first.title, remote: :true, class: "btn btn-primary btn-md" %></center>
                      </div>
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-7">
                      <img data-img-src="/assets/other_images/top-image2.jpg" class="lazy full-width" alt="Lorem Ipsum">
                      <h1>Send a Note!</h1>
                      <p>Use the font you saved to your profile to send words of affirmation in your own handwriting</p>
                      <p>Send an email</p>
                      <p>Send a poem</p>
                    </div><!-- #modal-content-7 -->
                  </article>

                  <!-- feature 3 -->
                  <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-8', '', 'full-size');" class="thumbnail linked">
                      <div class="image-container">
                        <img data-img-src="/assets/other_images/project-4.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                      </div>
                      <div class="caption">
                        <h5>More options</h5>
                      </div><!-- .caption -->
                    </a><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-8">
                      <h1>Variety is the spice of life</h1>
                      <p>We're far from perfect. If you can't find something that looks like a good idea to you, PLEASE tell us. Our number one priority is meeting your needs, and the best way for us to make sure we're doing that is to communicate about it.(hint hint)</p>

                      <!-- alt image slider inside popup -->
                      <div id="unique-id-for-alt-image-slider" class="owl-carousel popup-alt-image-gallery">
                        <div class="item"><a href="/assets/other_images/bg1.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-1.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-2.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-3.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg4.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-4.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg4.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-5.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg6.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-6.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-2.jpg"></a></div>
                        <div class="item"><a href="/assets/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/other_images/gallery-thumb-3.jpg"></a></div>
                        include captions and make the pics link to moduls with more info. ALSO NEED a 1CLICK = Done button
                      </div>
                    </div><!-- #modal-content-8 -->
                  </article>
                  

                </section><!-- end: .feature-columns -->

                <!-- End: Section content to edit -->

              </div><!-- .col-sm-10 -->
            </div><!-- .content-wrapper -->
          </article><!-- .section-wrapper -->

          <!-- Smolder History Carousel -->

          <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg6.jpg">
            <div class="content-wrapper clearfix">
              <section>

              <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">

                <!-- Indicators - slide navigation -->
                <ol class="carousel-indicators title-indicators">
                  <li data-target="#features-carousel" data-slide-to="0" class="active">Went hiking at Riverwood Park</li>
                  <li data-target="#features-carousel" data-slide-to="1">Bought her chapstick</li>
                  <li data-target="#features-carousel" data-slide-to="2">Sent Poetry</li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                  <div class="item active">
                    <div class="carousel-text-content">
                      <img src="/assets/other_images/olive-mountain.png" class="icon" alt="Lorem Ipsum">
                      <h2 class="title">Went Hiking at Riverwood Park</h2>
                      <p><%= current_user.events[2].title %>
                        <br>
                        <%= current_user.events[2].start %>
                        <br>
                        <%= current_user.events[2].event_type %></p>
                        <br>
                        <a href="#">Full History</a>
                        <p>

                          <a href="" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm">More Details</a></p>

                          <div class="content-to-populate-in-modal" id="modal-content-2">
                            <h1>Hiking at Riverwood Park</h1>
                            <p><img data-img-src="/assets/other_images/olive-mountain.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum">     
                              <p><%= current_user.events[2].title %>
                                <br>
                                <%= current_user.events[2].start %>
                                <br>
                                <%= current_user.events[2].event_type %>
                                <br>
                                <a href="#">Full History</a>
                              </p>
                            </div><!-- #modal-content-2 -->
                          </div>
                        </div><!-- .item -->

                        <div class="item">
                          <div class="carousel-text-content">
                            <img src="/assets/other_images/chapstick.png" class="icon" alt="A picture of the chapstick you bought">
                            <h2 class="title">Bought her chapstick</h2>
                            <p><%= current_user.events[1].title %>
                              <br>
                              <%= current_user.events[1].start %>
                              <br>
                              <%= current_user.events[1].event_type %></p>
                              <br>
                              <a href="#">Full History</a>
                              <p>
                                <a href="" onclick="populate_and_open_modal(event, 'modal-content-3');" class="btn btn-outline-inverse btn-sm">read more</a></p>

                                <div class="content-to-populate-in-modal" id="modal-content-3">
                                  <h1>Bought her chapstick</h1>
                                  <p><img data-img-src="/assets/other_images/chapstick.png" class="lazy rounded_border hover_effect pull-left" alt="A picture of the chapstick you bought">
                                    <p><%= current_user.events[1].title %>
                                      <br>
                                      <%= current_user.events[1].start %>
                                      <br>
                                      <%= current_user.events[1].event_type %></p>
                                      <br>
                                      <a href="#">Full History</a>
                                      <p>
                                      </div><!-- #modal-content-3 -->
                                    </div>
                                  </div><!-- .item -->

                                  <div class="item">
                                    <div class="carousel-text-content">
                                      <img src="/assets/other_images/Poetry.png" class="icon" alt="Peotry">
                                      <h2 class="title">Sent Poetry</h2>
                                      <p><%= current_user.events[0].title %>
                                        <br>
                                        <%= current_user.events[0].start %>
                                        <br>
                                        <%= current_user.events[0].event_type %></p>
                                        <br>
                                        <a href="#">Full History</a>
                                        <p>
                                          <a href="" onclick="populate_and_open_modal(event, 'modal-content-4');" class="btn btn-outline-inverse btn-sm">read more</a></p>

                                          <div class="content-to-populate-in-modal" id="modal-content-4">
                                            <h1>Sent Poetry</h1>
                                            <p><img data-img-src="/assets/other_images/Poetry.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum">       
                                              <p><%= current_user.events[0].title %>
                                                <br>
                                                <%= current_user.events[0].start %>
                                                <br>
                                                <%= current_user.events[0].event_type %></p>
                                                <br>
                                                <a href="#">Full History</a>
                                                <p>
                                                </div><!-- #modal-content-4 -->
                                              </div>
                                            </div><!-- .item -->
                                          </div><!-- .carousel-inner -->

                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
                                          <a class="right carousel-control" href="#features-carousel" data-slide="next"></a>

                                        </div><!-- #about-carousel -->
                                        </section> <!-- end: history -->
                                      </div><!-- .content-wrapper -->
                                    </article><!-- .section-wrapper -->

                                    <!-- Profile Form -->
                                    <article id="Profile" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg3.jpg">
                                      <div class="content-wrapper clearfix">
                                      <center><section class="feature-text">
                                        <h3>Help us help you!</h3>
                                        <p>The more information you provide us here, the more powerful our tools become, and the more impact your actions will have in your daily life.</p> 
                                      </section></center>

                                        <!-- Profile FORM -->
                                        <section>
                                            
                                          <!-- form left col -->
                                          <div class="col-lg-10">
                                            <div class="form-group">

                                              <%= render 'devise/registrations/profile_user_input_fields'%>

                                            </div>

                                            <div class="form-group form-general-error-container"></div>           

                                          </div><!-- end: form right col -->
                                      </section><!-- end: profile -->
                                      </div><!-- .content-wrapper -->
                                    </article><!-- .section-wrapper -->

                                    <!-- Calendar -->

                                    <article id="Calendar" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg2.jpg">
                                      <div class="content-wrapper clearfix">
                                        <section class="calendar row clearfix clearfix-for-1cols">
                                          <div class="calendar-item col-lg-10 col-lg-offset-1">
                                            <div class="item-content clearfix">
                                              <div class = "my_calender">
                                                <div id='calendar'>
                                                </div>
                                              </div>
                                            </div><!-- end: .item-content -->
                                          </div><!-- end: .calendar-item -->

                                        </section><!-- end: calendar -->
                                      </div> <!-- .content-wrapper -->
                                    </article> <!-- .section-wrapper -->

                                  </section><!-- #main-content -->

                                  <!-- Footer -->
                                  <section id="footer">

                                    <!-- Go to Top -->
                                    <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

                                    <ul class="social-icons">
                                      <li><a href="#" target="_blank" title="Facebook"><img src="/assets/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
                                      <li><a href="#" target="_blank" title="Twitter"><img src="/assets/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
                                      <li><a href="#" target="_blank" title="Google+"><img src="/assets/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
                                    </ul>

                                    <!-- copyright text -->
                                    <div class="footer-text-line">&copy; Smolder | 2014</div>
                                  </section>
                                  <!-- end: Footer -->  