<!-- Left Sidebar -->
<section id="left-sidebar">

  <div class="logo">
    <a href="#intro" class="link-scroll"><img src="/assets/other_images/smoulder_logo.png" alt="Smoulder"></a>
  </div><!-- .logo -->

  <!-- Smoulder Menu -->
  <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

  <ul id="main-menu">

    <li id="menu-item-Suggestions" class="menu-item scroll"><a href="#Suggestions">Suggestions</a></li>
    <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">History</a></li>
    <li id="menu-item-Profile" class="menu-item scroll"><a href="#Profile">Profile</a></li>
    <li id="menu-item-Calendar" class="menu-item scroll"><a href="#Calendar">Calendar</a></li>
    <li class="menu-item scroll"> <%= user_login_links %></li>
  </ul>

</section><!-- #left-sidebar -->
<!-- end: Left Sidebar -->

<section id="main-content" class="clearfix">
  

  <%= render 'suggestion_frame_partial' %>

  <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg6.jpg">
    <div class="content-wrapper clearfix">
      <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel"> 
              <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% Event.three_carousel_events(current_user.id).each do |x| %>
            <% if x == Event.three_carousel_events(current_user.id)[0] %>
              <div class="item active">
                <div class="carousel-text-content">
                  <img src= <%= x.history_image_file_path%> class="icon" alt="Lorem Ipsum">
                  <h2 class="title"><%= x.title %></h2>
                  <p>
                    <%= x.notes %>
                    <br>
                    <%= x.start %>
                    <br>
                    <%= x.event_type %>
                  </p>
                </div><!-- carousel-text-content --> 
              </div><!-- .item -->
            <% else %>      
              <div class="item">
                <div class="carousel-text-content">
                  <img src= <%= x.history_image_file_path%> class="icon" alt="Lorem Ipsum">
                  <h2 class="title"><%= x.title %></h2>
                  <p>
                    <%= x.notes %>
                    <br>
                    <%= x.start %>
                    <br>
                    <%= x.event_type %>
                  </p>
                </div><!-- carousel-text-content --> 
              </div><!-- .item -->
            <% end %>
          <% end %>

        </div> <!-- .carousel-inner -->
        
        <!-- Controls -->
        <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
        <a class="right carousel-control" href="#features-carousel" data-slide="next"></a> 
      
      </div> <!-- #about-carousel -->
    </div> <!-- .content-wrapper -->
  </article> <!-- .section-wrapper -->

                            <!-- Profile Form -->
                            <article id="Profile" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg3.jpg">
                              <div class="content-wrapper clearfix">
                              <center><section class="feature-text">
                                <h3>Help us help you!</h3>
                                <p>The more information you provide us here, the more powerful our tools become, and the more impact your actions will have in your daily life.</p> 
                              </section></center>

                                <!-- Profile FORM -->
                                <section>
                                    
                                  <!-- form left col -->
                                  <div class="col-lg-10">
                                    <div class="form-group">

                                      <%= render 'devise/registrations/profile_user_input_fields'%>

                                    </div>

                                    <div class="form-group form-general-error-container"></div>           

                                  </div><!-- end: form right col -->
                              </section><!-- end: profile -->
                              </div><!-- .content-wrapper -->
                            </article><!-- .section-wrapper -->

                            <!-- Calendar -->

                            <article id="Calendar" class="section-wrapper clearfix" data-custom-background-img="/assets/other_images/bg2.jpg">
                              <div class="content-wrapper clearfix">
                                <section class="calendar row clearfix clearfix-for-1cols">
                                  <div class="calendar-item col-lg-10 col-lg-offset-1">
                                    <div class="item-content clearfix">
                                      <div class = "my_calender">
                                        <div id='calendar'>
                                        </div>
                                      </div>
                                    </div><!-- end: .item-content -->
                                  </div><!-- end: .calendar-item -->

                                </section><!-- end: calendar -->
                              </div> <!-- .content-wrapper -->
                            </article> <!-- .section-wrapper -->

                          </section><!-- #main-content -->

                          <!-- Footer -->
                          <section id="footer">

                            <!-- Go to Top -->
                            <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

                            <ul class="social-icons">
                              <li><a href="#" target="_blank" title="Facebook"><img src="/assets/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
                              <li><a href="#" target="_blank" title="Twitter"><img src="/assets/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
                              <li><a href="#" target="_blank" title="Google+"><img src="/assets/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
                            </ul>

                            <!-- copyright text -->
                            <div class="footer-text-line">&copy; Smoulder | 2014</div>
                          </section>
                          <!-- end: Footer -->  