%h1 Listing mailer_contents

%table
  %tr
    %th Category
    %th Subcategory
    %th Actual context
    %th
    %th
    %th

  - @mailer_contents.each do |mailer_content|
    %tr
      %td= mailer_content.category
      %td= mailer_content.subcategory
      %td= mailer_content.actual_context
      %td= link_to 'Show', mailer_content
      %td= link_to 'Edit', edit_mailer_content_path(mailer_content)
      %td= link_to 'Destroy', mailer_content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mailer content', new_mailer_content_path
