%p#notice= notice

%p
  %b Category:
  = @mailer_content.category
%p
  %b Subcategory:
  = @mailer_content.subcategory
%p
  %b Actual context:
  = @mailer_content.actual_context

= link_to 'Edit', edit_mailer_content_path(@mailer_content)
\|
= link_to 'Back', mailer_contents_path
