%h1 Listing suggestions

%table
  %tr
    %th Category
    %th Subcategory
    %th Actual context
    %th
    %th
    %th

  - @suggestions.each do |suggestion|
    %tr
      %td= suggestion.category
      %td= suggestion.subcategory
      %td= suggestion.actual_content
      %td= link_to 'Show', suggestion
      %td= link_to 'Edit', edit_suggestion_path(suggestion)
      %td= link_to 'Destroy', suggestion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Suggestion Content', new_suggestion_path
