%p#notice= notice

%p
  %b Category:
  = @suggestion_content.category
%p
  %b Subcategory:
  = @suggestion_content.subcategory
%p
  %b Actual context:
  = @suggestion_content.actual_content

= link_to 'Edit', edit_suggestion_content_path(@suggestion_content)
\|
= link_to 'Back', suggestion_contents_path
