%p#notice= notice

%p
  %b Category:
  = @suggestion.category
%p
  %b Subcategory:
  = @suggestion.subcategory
%p
  %b Actual context:
  = @suggestion.actual_content

= link_to 'Edit', edit_suggestion_path(@suggestion)
\|
= link_to 'Back', suggestions_path
